doctype
html
  head
    title LInAW
    style.
      body {
        background-color: #121212;
        color: #fff;
        font-family: sans-serif;
        height: 100vh;
        margin: 0;
      }
      h1,h2,h3 {
        font-weight: lighter;
        margin: 0.5em 0;
        line-height: 1;
      }
      button {
        border: 1px solid;
        padding: 1em;
        background: none;
        border-radius: 0;
        font-size: .5em 1em;
        margin: 0 .5em .5em 0;
        color: currentColor;
        cursor: pointer;
      }
      *:focus {
        outline: 0;
      }
      input[type="range"]{
        color: currentColor;
        -webkit-appearance: none;
        background: none;
        height: 16px;
        width: 300px;
        border: 1px solid;
        border-radius: 16px;
        cursor: pointer;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #121212;
        border: 1px solid;
        height: 36px;
        width: 36px;
        border-radius: 36px;
        cursor: -webkit-grab;
      }
      input[type="range"]::-webkit-slider-thumb:active {
        cursor: -webkit-grabbing;

      }

  body
    h1 LInAW
    #LInAW
    script(src='/linaw.js')
