doctype
html
  head
    title LInAW
    style.
      body {
        font-family: sans-serif;
        height: 100vh;
        margin: 0;
      }
      h1,h2,h3,h4 {
        font-weight: lighter;
        margin: 0.5em 0;
        line-height: 1;
        display: flex;
        align-items: center;
      }
      button {
        border: 1px solid;
        padding: 1em;
        background: none;
        border-radius: 3px;
        font-size: .25em 1em;
        margin: 0 .5em .5em 0;
        color: currentColor;
        cursor: pointer;
      }
      *:focus {
        outline: 0;
      }
      input[type="range"]{
        color: currentColor;
        -webkit-appearance: none;
        background: none;
        height: 4px;
        width: 300px;
        border: 1px solid;
        border-radius: 4px;
        cursor: pointer;
        -webkit-user-select: none;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: currentColor;
        border: 1px solid;
        height: 16px;
        width: 16px;
        border-radius: 16px;
        cursor: -webkit-grab;
      }
      input[type="range"]::-webkit-slider-thumb:active {
        cursor: -webkit-grabbing;

      }

  body
    #LInAW
    script(src='/linaw.js')
